<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="mule-agent-port" value="53266"/>
    <stringAttribute key="mule-agent-token-auth" value="f8243f54-6b8a-4244-bd5e-ddb76b6c8c54"/>
    <listAttribute key="mule-project-names">
        <listEntry value="walkthrough_7.2"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="walkthrough_7.2"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
