<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="mule-agent-port" value="57684"/>
    <stringAttribute key="mule-agent-token-auth" value="3dd9b6dd-4136-4886-abe4-f31dd1ea5059"/>
    <listAttribute key="mule-project-names">
        <listEntry value="walkthrough_7.4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="walkthrough_7.4"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
